<app-nav-bar></app-nav-bar>

<div class="content-container">
  <form (ngSubmit)="getPdf()" class="search-form">
    <input type="text" id="idUser" [(ngModel)]="idUser" name="idUser" class="search-input">
    <button type="submit" [disabled]="isLoading" class="search-button">
      @if(isLoading){
        <span class="spinner"></span>
      }
      Consultar certificado
    </button>
  </form>

  <div  class="pdf-container">
    <div class="pdf-card">
          <select [(ngModel)]="selectedPdf" (change)="redirectToPdf(selectedPdf)" class="pdf-select">
            @for (pdf of pdfs; track pdf){
              <option [value]="pdf">
                {{ extractFileName(pdf) }}
              </option>
            }
          </select>
        </div>
  </div>
</div>

  