.main-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70vw;
    min-height: 63vh;
    justify-content: center;
    padding: 1vw;
    margin-top: 7vh;
    /* border: solid 4px rgb(107, 125, 135) ; */
    border-radius: 10px;
    background-color:  rgb(107, 125, 135,50%);
    
    
}
.car-cont{
    text-align: center; 
    max-width: 45vw;
    min-height: 40vh;
    margin-top: 1vh;
     
}
.tittle{
    background-color:transparent; 
    color: #000000; 
    padding: 1rem; 
    height: 2vh;
    border-radius: 0.25rem;
    margin-left: -0px;
    text-shadow: -3px -3px 5px #000, 3px -3px 5px #000, -3px 3px 5px #000, 3px 3px 5px #000;
    margin-top: 0.5vh;
}

.text-container{
    background-color:  rgb(107, 125, 135,90%);
    font-size: 3vh;
    text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000;
    border: transparent;
    border-radius: 10px;
}
.text-container p{
 color: white;
 font-size: larger;
}
.contact{
    background-color: transparent; 
    color: #000000; 
    padding: 1rem; 
   
    border-radius: 0.25rem; 
}
.contact:hover{
    transform: scale(1.1)
}
.letter a{
    text-decoration: none;
}