<div class="backdrop">
   <div class="modal-content" >
     <div class="">
        <h3>Yadira Mayac SAS cuenta con certificado  ante el ministerio de transporte con resolucion No:1654684168468 de 12 de noviembre del 2016 siendo asi una empresa totalmente legal y garantizando a su distinguida clientela la seguridad en todos los tramites que hagan con nosostros madfjvvosdnfvilfdnv </h3>
       
       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar Cambios</button>
        </div>
       
      </div>
    </div>
</div>