<div class="backdrop">
   <div class="modal-content" >
     <div class="">
        <h2>Yadira Mayac SAS cuenta con certificado  ante el ministerio de transporte con resolucion No:1654684168468 de 12 de noviembre del 2016 siendo asi una empresa totalmente legal y garantizando a su distinguida clientela la seguridad en todos los tramites que hagan con nosostros madfjvvosdnfvilfdnv </h2>
       
       
        <div class="modal-footer d-flex align-items-center justify-content-center">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="close()">Cerrar</button>
          
        </div>
       
      </div>
    </div>
</div>