<div class="custom-navbar sticky-top">
    <div class="mainNav d-flex justify-content-center align-items-center">
      <div class="informacion-empresa text-center">
        <i class="fas fa-map-marker-alt">&#xf3c5;Kra 20 #52-32 </i>
        <i class="fas fa-phone">&#xf095; 317 3283879- 310 7125898  </i>  
        <i class="fas fa-envelope">&#xf0e0; yadiramayac&#64;mail.com </i>
        
        <i class="fas">&#xf3c5;</i>
        <i class="fas">&#xf095;</i>
        <i class="fas">&#xf0e0;</i>
  
      </div>
  
      <div class="imageAndButton d-flex align-items-center">
         <div class="navbar-brand ml-0">
            <img src="../../assets/images/yadiraMprueba.PNG" alt="Logo" height="90" width="200" style="border-radius: 20px; margin: 0; padding: 0;">
         </div>
         <div class="ml-3">
            <button class="btn btn-danger custom-btn" type="button" routerLink="/">Inicio</button>
            <button class="btn btn-danger custom-btn" type="button" routerLink="/servicios">Servicios</button>
            <button class="btn btn-danger custom-btn" type="button" routerLink="/empresa">Empresa</button>
            <button class="btn btn-danger custom-btn" type="button" routerLink="/certificados">Certificados</button>
         </div>
      </div>
    </div>
  </div>
  
<router-outlet></router-outlet>

<!-- footer.component.html -->

<footer class="container-foot ">
  <div class="custom">
    <p class="text-white"><span style="font-size: 12pt;"><strong>YADIRA MAYAC S.A.S.</strong></span></p>
    <hr>
    <p class="text-white"><i class="bi-geo"></i> Carrera 47A No. 95-56, Oficina 606</p>
    <p class="text-white">Bogotá D.C. – Colombia</p>
    <p class="text-white"><i class="bi-chat-dots "></i> Atenderemos en Inglés y Español (7 días de la semana las 24 horas del día)</p>
    <p class="text-white"><i class="bi-telephone"></i> Telefax: (+57) 1-488 4233 • 1-492 9599 • 1-749 5518 • 1-749 5519</p>
    <p class="text-white"><i class="bi-mobile"></i> Celular: (+57) 300 4962049 Teléfono 24 Horas</p>
    <p class="text-white"><i class="bi-whatsapp"></i> Whatsapp: (+57) 313 8918297 - (+57) 313 4312815</p>
    <p class="text-white"><i class="bi-envelope"></i> <a href="mailto:cotizaciones@transrubio.com.co">infotransrubio.com.co</a></p>
  </div>
</footer>
