
  .container-foot{
    background-color: rgb(107, 125, 135) ;
    padding: 20px;
    width: 100vw;
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  .container-foot {
    width: 100%;
  }