<div class="background-image"></div> 
<app-nav-bar></app-nav-bar>
<div class=" d-flex align-items-center justify-content-center">
    <div class="tittle mt-5 p-4 text-center  d-flex align-items-center justify-content-center ">
      <h2 class="text-white">Envíanos todas tus inquietudes!!</h2>
    </div> 

  </div>    
<div class="main-container mt-5" >

      <form [formGroup]="Form" (ngSubmit)="sendEmail()" class="search-form">
        <div class="form-group">
              <label>Nombre o empresa</label>
              <input type="text" 
              formControlName="name" 
              [ngClass]="{ 'is-invalid':f['name'].touched&& f['name'].errors }"  class="form-control search-input"/>
              @if ( f['name'].errors&& f['name'].touched) {
                <div class="invalid-feedback">
                  @if (f['name'].errors['minLength']) {
                  <div>El nombre debe ser minimo de 3 letras</div>
                  }
                  @if (f['name'].errors['required']) {
                  <div>Este campo es obligatorio</div>
                  }
                  @if (f['name'].errors['maxLength']) {
                    <div>El nombre no puede superar los 60 caracteres</div>
                  }
                </div>
                }        
        </div>
        <div class="form-group">
            <label>Dejanos un correo electronico</label>
            <input type="text"
             formControlName="email" 
              [ngClass]="{ 'is-invalid':f['email'].touched&&  f['email'].errors }"  class="form-control search-input "/>
              @if (f['email'].errors&&f['email'].touched) {
                <div class="invalid-feedback">
                  @if (f['email'].errors['required']) {
                  <div>El correo es obligatorio</div>
                  }
              @if (f['email'].errors['email']) {
                  <div>Por favor coloque un correo valido</div>
                  }
                </div>
                } 
        </div>
        <div class="form-group">
                <label>Mensaje</label>
               <textarea formControlName="message"
                [ngClass]="{ 'is-invalid':f['message'].touched&& f['message'].errors }" 
                class="form-control input-text"></textarea>
                @if (f['message'].errors&&f['message'].touched) {
                  <div class="invalid-feedback">
                    @if (f['message'].errors['required']) {
                    <div>Este campo es obligatorio</div>
                    }
                    @if (f['message'].errors['minLength']) {
                    <div>El mensaje debe ser minimo de 3 letras</div>
                    }
                    @if (f['message'].errors['maxLength']) {
                      <div>El mensaje no puede superar los 1000 caracteres</div>
                    }
                  </div>
                  }
        </div>
        <button type="submit" class="btn btn-primary send-button mt-3" [disabled]="Form.invalid">
          Enviar
        </button>
      </form>
   
   
  </div>

<div class="WhatsappAndMap-Cont">
        <div class="whatsappCont">
          <div class="whatsappTitle p-4 text-center  d-flex align-items-center justify-content-center  ">
            <h2 class="text-white">Contáctanos a través de whatsapp!!</h2>
          </div>
          <div class="whatsappText p-4 text-center  d-flex align-items-center justify-content-center " >
            <p class="text-white">Porque Yadira Mayac S.A.S esta más cerca y a la lacance de ti, a solo un click estarás en contacto con uno de nuestros asesores para resolver todas tus inquietudes; asi que no dudes en escribirnos ya!!! </p>
          </div>
          <div class="shortCuts "  >
            <button class="btn btn-danger shortCut-btn  " type="button" > <a class="" href="https://wa.me/573161148922?text= *ASESORAMIENTO* Hola, tengo una inquietud... :  " target="_blank"><img class="whatsappButton" src="../../../assets/images/whatsapp.png" alt="whatsapp logo" style="width: 3vw;"> Enviar mensaje!</a></button>
           </div>
        </div>
      <div class="mapCont">
        <div class="whatsappTitle p-4 text-center  d-flex align-items-center justify-content-center ">
          <h2 class="text-white">Ubícanos en la ciudad de Pasto</h2>
        </div>
        <div class="whatsappText p-4 text-center  d-flex align-items-center justify-content-center " >
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.9168156063197!2d-77.27237313777!3d1.2180167324538096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2ed488524671e1%3A0x75bc375e78958ff3!2sCondominio%20Ciudad%20Real!5e0!3m2!1ses-419!2sco!4v1711142056973!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
       
      </div>

</div>

<div class="WhatsappAndMap-Cont">
 
<div class="mapCont">
  <div class="whatsappTitle p-4 text-center  d-flex align-items-center justify-content-center ">
    <h2 class="text-white">Nuestro taller de mecánica en Catambuco</h2>
  </div>
  <div class="whatsappText p-4 text-center  d-flex align-items-center justify-content-center " >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5641.299464960703!2d-77.291832729999!3d1.1596752090542883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e292d1094cd2e31%3A0x7637b468bbea74fc!2sMONTALLANTAS%20CHAPAL!5e0!3m2!1ses-419!2sco!4v1711142703550!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  
</div>

</div>
