<div class="background-image"></div> 
<app-nav-bar></app-nav-bar>
<div class=" d-flex align-items-center justify-content-center">
    <div class="tittle mt-5 p-4 text-center  d-flex align-items-center justify-content-center ">
      <h2 class="text-white">Envíanos todas tus inquietudes!!</h2>
    </div> 

  </div>    
<div class="main-container mt-5" >

      <form [formGroup]="Form" (ngSubmit)="sendEmail()" class="search-form">
        <div class="form-group">
              <label>Nombre o empresa</label>
              <input type="text" 
              formControlName="name" 
              [ngClass]="{ 'is-invalid':f['name'].touched&& f['name'].errors }"  class="form-control search-input"/>
              @if ( f['name'].errors&& f['name'].touched) {
                <div class="invalid-feedback">
                  @if (f['name'].errors['minLength']) {
                  <div>El nombre debe ser minimo de 3 letras</div>
                  }
                  @if (f['name'].errors['required']) {
                  <div>Este campo es obligatorio</div>
                  }
                  @if (f['name'].errors['maxLength']) {
                    <div>El nombre no puede superar los 60 caracteres</div>
                  }
                </div>
                }        
        </div>
        <div class="form-group">
            <label>Dejanos un correo electronico</label>
            <input type="text"
             formControlName="email" 
              [ngClass]="{ 'is-invalid':f['email'].touched&&  f['email'].errors }"  class="form-control search-input "/>
              @if (f['email'].errors&&f['email'].touched) {
                <div class="invalid-feedback">
                  @if (f['email'].errors['required']) {
                  <div>El correo es obligatorio</div>
                  }
              @if (f['email'].errors['email']) {
                  <div>Por favor coloque un correo valido</div>
                  }
                </div>
                } 
        </div>
        <div class="form-group">
                <label>Mensaje</label>
               <textarea formControlName="message"
                [ngClass]="{ 'is-invalid':f['message'].touched&& f['message'].errors }" 
                class="form-control input-text"></textarea>
                @if (f['message'].errors&&f['message'].touched) {
                  <div class="invalid-feedback">
                    @if (f['message'].errors['required']) {
                    <div>Este campo es obligatorio</div>
                    }
                    @if (f['message'].errors['minLength']) {
                    <div>El mensaje debe ser minimo de 3 letras</div>
                    }
                    @if (f['message'].errors['maxLength']) {
                      <div>El mensaje no puede superar los 1000 caracteres</div>
                    }
                  </div>
                  }
        </div>
        <button type="submit" class="btn btn-primary send-button mt-3" [disabled]="Form.invalid">
          Enviar
        </button>
      </form>
   
   
  </div>
  
