<div class="background"></div>
<div class="main-cont">
  <!-- <div class="car-cont">
     <app-track-carousel></app-track-carousel>
  </div> -->
  <div class="tittle mt-1  w-20 d-flex align-items-center justify-content-center">
    <h1 class="text-white">Siempre cumpliendo!!</h1>
  </div>
  <div class="text-container p-4 text-center  ">
    
      <p>

        Somos líderes en el sector, dedicados a brindar servicios de transporte de carga en camiones, tractocamiones volquetas dobles y sencillas. En Yadira Mayac S.A.S, entendemos la importancia de entregar tus bienes de manera eficiente y segura, y por eso, nos enorgullece ofrecerte soluciones de transporte confiables que superan tus expectativas; por ende te invitamos a navegar por los distintos servicios que ofrecemos para ti!!!!
      </p>
   
  </div>
  <div class="contact d-flex flex-row mt-5  p-2 text-center  ">
      
      <div>
        <a href="https://wa.me/573161148922?text= *COTIZACION* Hola quiero hacer una cotizacion  para:  " target="_blank"><h1></h1><img src="../../../assets/images/whatsapp.png" alt="whatsapp logo" style="width: 3vw;"></a>
      </div>
  </div>
</div>