.main-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70vw;
    min-height: 63vh;
    justify-content: center;
    padding: 1vw;
    margin-top: 0;
    border-radius: 10px;
    background-color:transparent;
    
    
}
.car-cont{
    text-align: center; 
    max-width: 45vw;
    min-height: 40vh;
     
}
.tittle{
    background-color:transparent; /* Color de fondo de alerta en Bootstrap */
    color: #000000; /* Color de texto de alerta en Bootstrap */
    padding: 1rem; /* Ajusta el relleno según sea necesario */
    height: 7vh;
    border-radius: 0.25rem;
    margin-left: -100px;
    text-shadow: -3px -3px 5px #000, 3px -3px 5px #000, -3px 3px 5px #000, 3px 3px 5px #000;

}

.text-container{
    background-color:  rgba(0, 0, 0, 0.25);
    font-size: 3vh;
    text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000;
    border: transparent;
    border-radius: 10px;
}
.text-container p{
 color: white;
 font-size: larger;
}
.contact{
    background-color: transparent; /* Color de fondo de alerta en Bootstrap */
    color: #000000; /* Color de texto de alerta en Bootstrap */
    padding: 1rem; /* Ajusta el relleno según sea necesario */
    border-radius: 0.25rem; 
}
.contact:hover{
    transform: scale(1.1)
}
.letter a{
    text-decoration: none;
}