<app-nav-bar></app-nav-bar>

<div class="tittle">
<p>Porqué elegirnos?</p>
</div>
<div class="WhatsappAndMap-Cont">
  
  <div class="mapCont">
    <div class="whatsappTitle p-4 text-center  d-flex align-items-center justify-content-center ">
      <h2 class="text-white">Ubícanos en la ciudad de Pasto</h2>
    </div>
    <div class="whatsappText p-4 text-center  d-flex align-items-center justify-content-center " >
      <p class="text-white">Porque Yadira Mayac S.A.S esta más cerca y a la lacance de ti, a solo un click estarás en contacto con uno de nuestros asesores para resolver todas tus inquietudes; asi que no dudes en escribirnos ya!!! </p>
    </div>
    <div class="shortCuts "  >
      <button class="btn btn-danger shortCut-btn  " type="button" > <a class="" href="https://wa.me/573161148922?text= *ASESORAMIENTO* Hola, tengo una inquietud... :  " target="_blank"><img class="whatsappButton" src="../../../assets/images/whatsapp.png" alt="whatsapp logo" style="width: 3vw;">Enviar mensaje!</a></button>
    </div>
  </div>
</div>
<div class="background-image"></div> 