<div class="background"></div>
<div class="main-cont">
  <div class="car-cont">
     <app-track-carousel></app-track-carousel>
  </div>
  <div class="tittle mt-5 p-4 text-center w-20 d-flex align-items-center justify-content-center">
    <h1 class="text-white">Vehiculos tipo tractomula </h1>
  </div>
  <div class="text-container p-4 text-center  border rounded mt-5">
    
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus molestias esse quod odio vitae ad laboriosam veniam itaque veritatis ea accusamus tempora odit, voluptates cum provident omnis ut? Nemo, voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vel perspiciatis quos! Suscipit enim quidem nemo provident voluptas deleniti recusandae repellendus quisquam nulla doloremque quia cumque aliquam, doloribus reprehenderit ipsum.lrem Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad fuga aperiam similique quasi architecto in blanditiis soluta exercitationem, eligendi iste ipsam, magnam voluptas numquam cupiditate! Quidem possimus vero illum eaque.

      </p>
   
  </div>
  <div class="contact d-flex flex-row mt-5 text-container p-2 text-center  border rounded">
      <div class="letter">
        <a href="https://wa.me/573161148922?text=Hola quiero hacer una cotizacion  para:  " target="_blank"  class="text-decoration-none"><h1  class="text-decoration-none text-dark" >Cootizar</h1></a>
      </div>
      <div>
        <a href="https://wa.me/573161148922?text= *COTIZACION* Hola quiero hacer una cotizacion  para:  " target="_blank"><h1></h1><img src="../../../assets/images/whatsapp.svg" alt="whatsapp logo" style="width: 3vw;"></a>
      </div>
  </div>
</div>
