<div class="custom-navbar">
    <div class="mainNav d-flex justify-content-center align-items-center">
      <div class="informacion-empresa text-center">
        <i class="fas fa-map-marker-alt">&#xf3c5;Kra 20 #52-32 </i>
        <i class="fas fa-phone">&#xf095; 317 3283879- 310 7125898  </i>  
        <i class="fas fa-envelope">&#xf0e0; yadiramayac&#64;mail.com </i>
        
        <i class="fas">&#xf3c5;</i>
        <i class="fas">&#xf095;</i>
        <i class="fas">&#xf0e0;</i>
  
      </div>
  
      <div class="imageAndButton d-flex align-items-center">
         <div class="navbar-brand ml-0">
            <img src="../../assets/images/yadiraMprueba.PNG" alt="Logo" height="90" width="200" style="border-radius: 20px; margin: 0; padding: 0;">
         </div>
         <div class="ml-3">
            <button class="btn btn-danger custom-btn" type="button" routerLink="/">Inicio</button>
            <button class="btn btn-danger custom-btn" type="button" routerLink="/servicios">Servicios</button>
            <a class="btn btn-danger custom-btn" type="button" routerLink="/empresa">Empresa</a>
            <button class="btn btn-danger custom-btn" type="button" routerLink="/certificados">Certificados</button>
         </div>
      </div>
    </div>
  </div>
