.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/mulaAzul.jpeg'); 
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.35;
    z-index: -1; 
    margin: 0;
}
.main-container{
    display: flex;
    flex-direction: row;
    margin: 0;
    max-width: 100vw;
    
}
.services{
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  background-color: transparent;
  
  align-items: center;
  padding: 1vw;
  padding-top: 0;
  margin-top: 1vw;
   
}
.custom-btn {
    background-color: rgb(237,50,55); 
    margin-left: 100px;
    color: #fff; 
    max-width: 100%;
    width: 25vw;
    margin-left: 1vw;
    margin-top: 7vh;
  }
  .custom-btn:hover {
    background-color: rgb(237,50,55); /* Cambia el color al pasar el mouse (hover) */
  
    transform: scale(1.1) /* Cambia el color del borde al pasar el mouse (hover) */
  }
  
  .tittle{
    background-color: transparent; /* Color de fondo de alerta en Bootstrap */
    color: #000000; /* Color de texto de alerta en Bootstrap */
    padding: 1rem; /* Ajusta el relleno según sea necesario */
    height: 7vh;
    border-radius: 0.25rem;
    text-shadow: -3px -3px 5px #000, 3px -3px 5px #000, -3px 3px 5px #000, 3px 3px 5px #000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}