<app-nav-bar></app-nav-bar>
<div class="background-image"></div> 
<div class="d-flex ">
    <div class="tittle mt-5 p-4 text-center w-40 d-flex align-items-center justify-content-center ">
        <h1 class="text-white">Servicios Yadira Mayac S.A.S</h1>
    </div>  
</div>
<div class="main-container">
    <div class="services">
        <button class="btn btn-danger custom-btn  " type="button" routerLink="/servicios/track">Transporte terrestre de carga seca</button>
        <button class="btn btn-danger custom-btn  " type="button" routerLink="/servicios/camion">Servicio de camiones</button>
        <button class="btn btn-danger custom-btn  " type="button" routerLink="/servicios/carrotanque">Transporte de hidrocarburos</button>
        <button class="btn btn-danger custom-btn  " type="button" routerLink="/servicios/volquetadoble"> Volqueta doble troque</button>
        <button class="btn btn-danger custom-btn  " type="button" routerLink="/servicios/volquetasencilla"> Volqueta Sencilla</button>
        <button class="btn btn-danger custom-btn  " type="button" routerLink="/servicios/taller">Taller de mecanica</button>
    </div>
<router-outlet></router-outlet>
</div>