<div class="background"></div>
<div class="main-cont">
  <div class="car-cont">
     <app-camion-carousel></app-camion-carousel>
  </div>
  <div class="tittle mt-5">
    <h1>Buscas agilidad y responsabilidad para tu carga?</h1>
  </div>
  <div class="text-container p-4 text-center  border rounded mt-3">
    
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus molestias esse quod odio vitae ad laboriosam veniam itaque veritatis ea accusamus tempora odit, voluptates cum provident omnis ut? Nemo, voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vel perspiciatis quos! Suscipit enim quidem nemo provident voluptas deleniti recusandae repellendus quisquam nulla doloremque quia cumque aliquam, doloribus reprehenderit ipsum.lrem Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad fuga aperiam similique quasi architecto in blanditiis soluta exercitationem, eligendi iste ipsam, magnam voluptas numquam cupiditate! Quidem possimus vero illum eaque.

      </p>
   
  </div>
</div>