.background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/FondoAppYadi.PNG'); 
    background-size: 100% 100%; /* Ajustado para llenar completamente el contenedor */
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1; 
    
    
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr auto; 
    gap: 30px; 
    align-items: center; 
    justify-self: start;
    height: auto;
  }
  
  .content {
    display: flex;
    align-self: self-start;
    max-width: 33vw;
    /* border: solid 3px #FF0000; */
    border-radius: 20px;
    font-size: larger;
    padding: 10px;
    color: rgb(74, 77, 80);
   
  }
  .content2 {
    display: flex;
    align-self: self-start;
    max-width: 33vw;
    border: solid 3px #ffffff;
    border-radius: 20px;
    font-size: larger;
    
    padding: 10px;
    color: rgb(74, 77, 80);;
    
  }
  
  .small-cont {
    text-align: center; 
    max-width: 33vw;
    height: 30vh;
    min-width: 25vw;
    margin-top: 2.7vh;
}
  .title{
    display: flex;
    justify-content: center;
  }
  .title2{
    display: flex;
    justify-content: center;
  }
  .title h2{
    /* color:#FF0000; */
    color: rgb(0, 0, 0);
  }
  .title2 h2{
    /* color:#FF0000; */
    color: rgb(107, 125, 135);
  }
  .about-cont{
    background-color: rgb(255, 255, 255);
    border-radius: 0px; 
    padding: 20px;
    margin-top: 10vh; 
    margin-left: 5vw;
    align-self: flex-start;
    opacity: 0;
    transform: translateX(-100%); /* Inicialmente, desplázalo fuera de la pantalla hacia la izquierda */
    transition: opacity 1s ease, transform 1s ease; 
    box-shadow:0px -3px 0px rgba(107, 125, 135, 1);

  }
  .about-cont.show {
    opacity: 1;
    transform: translateX(0);
    
}

  .red-cont{
    
    align-self: flex-end; 
    background-color: rgb(255, 255, 255);
    border-radius: 0px; 
    padding: 20px;
    margin-top: 10vh; 
    margin-right: 5vh; 
   
    
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease; 
    box-shadow:0px -3px 0px rgb(240, 2, 2);
  }
  .red-cont.show {
    opacity: 1;
    transform: translateX(0);
    max-width: 100%;
    
}

  
  .main-container{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.image{
  width: 22vw;
  height: 15vh;
}
/* navBar style */
.custom-navbar {
  background-color:transparent; /* background-color: rgb(107, 125, 135,40%);  */
  max-height: 15vh;
  width: 100%;
  
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.buttons{
  margin-top: 2vh;
}

.text-red {
  color: #FF0000; 
}


.mainNav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.informacion-empresa {
  background-color: rgb(107, 125, 135,10%);
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 4vh;
  font-size: 24px;
}

/* .imageAndButton {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
} */
.custom-btn {
  background-color: transparent;
  margin-left: 3vw;
  color: #fff; 
  font-size: 2.8vh;
  text-shadow: -3px -3px 5px #000, 3px -3px 5px #000, -3px 3px 5px #000, 3px 3px 5px #000;
}
.custom-btn:hover {
  background-color: rgb(237,50,55); /* Cambia el color al pasar el mouse (hover) */
  transition: all 0.5s ease; 
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);

}
.custom-btn:focus,
.custom-btn:active {
  transform: scale(1.1); /* Ajusta el valor según lo grande que quieras que se vean al hacer clic */
}
.whatsappButton:hover{
  transform: scale(1.2);
  transition: all 0.3s ease; 
}
/* button styles  */
.shortCuts{
  z-index: 1;position: absolute; top: 0; left: 0; width: 40%;
  margin-top: 8vh;
  display: flex;
  align-items: start;
  flex-direction: column;
  background-color: transparent;
  padding: 5vh;
  padding-top: 0;
  
}
.shortCuts a {
  text-decoration: none;
  color: #fff; 
}
.shortCut-btn {
  background-color: transparent; 
  margin-left: 100px;
  color: #fff; 
  max-width: 100%;
  width: auto; 
  margin-left: 1vw;
  margin-top: 10vh;
  font-size: 3.5vh;
  text-shadow: -3px -3px 5px #000, 3px -3px 5px #000, -3px 3px 5px #000, 3px 3px 5px #000;
  border: none;
  display: inline-block;
  align-items: start;
  transition: all 0.3s ease; 
}

.shortCut-btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  background-color: #FF0000;
  transform: scale(1.1);
  border-top-right-radius: 0px;
  border-top-left-radius: 50px;
}